#root{
  margin-left: 160px; 
  padding: 0px 10px;


}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav{
 
  position: fixed;

}




/* .sc-gsDKAQ, .sc-dkPtRN,.sc-bdvvtL,.sc-hKwDye  {
    width: 30%;
    display: inline-flex;
    flex-direction: column;
    border: 1px blue solid;
}


  
  .header {
    height: 40%;
    background: #7FDBFF ;
    color: black;
    text-align: center;

  }
  
  .container {
    padding: 2px 16px;
    display: flex;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  }


  a {
   

    
    text-decoration: none;
    text-transform: uppercase;
  }
  
  a:hover {
    background-color: #555;
  }
  
  a:active {
    background-color: black;
  }
  
  a:visited {
    background-color: #ccc;
  }
  
.number {
  width: 15px;
} */
